<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API nodeJS ExpressJS SQLite</title>
</head>
<body>
    <h1>Bonjour, merci d'utiliser notre API</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro tempore minima nobis magnam possimus suscipit vitae architecto quisquam et, tenetur commodi ducimus illo accusantium autem quod quam laudantium facilis temporibus?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, facere neque. Quidem consequuntur veniam amet mollitia, enim impedit omnis pariatur sed, non harum aut ad neque explicabo deleniti quia iure.</p>
</body>
</html>